* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #023047;

}

h1 {
    font-weight: 00;
    font-size: medium;

}


/* Program table */
.python,
.java,
div {
    transform: translateY(5.25em);
    border: #ffb703 4px solid;
    height: 300px;
    width: 36%;

}

section {
    display: flex;
    justify-content: center;
}

div h2 {
    background-color: #ffb703;
    text-align: center;
}

.container table {
    transform: translateY(2.25em);
    margin: auto;
}

.container th {
    color: #ffb703;
    transition: all 0.3s ease 0s;
}

.container td a:hover {
    color: #ffb703;
    box-shadow: 0 0.5em 0.5em -0.4em #ffb703;

}

.container td:hover {
    transform: translateY(-0.25em);
}


/* Navigation bar */
li,
a,
button,
h2 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
    color: oldlace;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

button {
    padding: 9px 25px;
    background-color: #ffb703;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}

button:hover {
    transform: translateY(-0.25em);
    box-shadow: 0 0.5em 0.5em -0.4em #ffb703;
}