body {
    font-family: 'Roboto', sans-serif;
    background-color: #1B3B6F;
    color: #065A82;
}

nav {
    background-color: #065A82;
    padding-top: 35px;
    padding-left: 5px;
    padding-bottom: 5px;
}

.home {
    color: #21295C;
    font-weight: 600;
    font-size: large;
    padding-left: 1%;
}

.links a {
    text-decoration: none;
    color: #21295C;

}

.links {
    padding-left: 75%;
}

table {
    color: #065A82;
}

table tr td a {
    text-decoration: none;
    color: #9EB3C2;
}

table tr td a:hover {
    color: #1C7293;
}